<%= form_tag login_path, method: :post do %>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <%= label_tag :name %>
      <%= text_field_tag :name, params[:name], class: "form-control" %>
    </div>
    <div class="col-sm-0"></div>
  </div>

  <div class="row mt-4">
    <div class="col-md-8 col-sm-12">
      <%= label_tag :password %>
      <%= password_field_tag :password, params[:password], class: "form-control" %>
    </div>
    <div class="col-md-4 col-sm-0"></div>
  </div>

  <div class="row mt-2">
    <div class="col-md-2 col-sm-1"></div>
    <div class="col-md-8 col-sm-10">
      <%= submit_tag "Log in", class: "btn btn-light btn-block blank" %>
    </div>
    <div class="col-md-2 col-sm-1"></div>
  </div>
<% end %>
