<%= form_for(user) do |f| %>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="col-md-6 col-sm-0"></div>
  </div>

  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="field mt-3">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="field mt-3">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4 col-sm-0"></div>
  </div>

  <div class="row mt-2">
    <div class="col-md-2 col-sm-1"></div>
    <div class="col-md-8 col-sm-10">
      <%= f.submit class: "btn btn-light btn-block blank" %>
    </div>
    <div class="col-md-2 col-sm-1"></div>
  </div>
<% end %>
