
<% if posts.any? %>
  <%= render 'shared/post_list_pagination', posts: posts, user: user %>

  <div class="row post">
    <div class="col-md-4">
      <strong>Name</strong>
    </div>
    <div class="col-md-7">
      <strong>Memo</strong>
    </div>
    <div class="col-md-1"></div>
  </div>

  <% posts.each do |post| %>
    <div class="row post">
      <div class="col-md-4">
        <%= post.name %>
      </div>
      <div class="col-md-7">
          <%= link_to post.memo, post_path(post), class: "break" %>
      </div>
      <div class="col-md-1">
        <% if of_current_user?(post) %>
          <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span aria-hidden="true" class="text-danger">&times;</span>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <br>
  <%= render 'shared/post_list_pagination', posts: posts, user: user %>
<% else %>
  <p> There are no posts. </p>
<% end %>
