<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>
<p>
  <strong>Memo:</strong>
  <%= @post.memo %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', top_path %>

<p>
  <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
