<% provide(:title, "Top") %>

<%= will_paginate @posts %>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div><%= link_to 'New Post', new_post_path %></div>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <strong>Name</strong>
  </div>
  <div class="col-md-7">
    <strong>Memo</strong>
  </div>
  <div class="col-md-1"></div>
</div>

<% @posts.each do |post| %>
  <div class="row post">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <%= post.name %>
    </div>
    <div class="col-md-7">
        <%= link_to post.memo, post_path(post), class: "break" %>
    </div>
    <div class="col-md-1">
      <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span aria-hidden="true" class="text-danger">&times;</span>
      <% end %>
    </div>
  </div>
<% end %>

<%= will_paginate @posts %>
