<% provide(:title, "Top") %>



<div class="row">
  <div class="col-md-8">
    <%= will_paginate @posts %>
  </div>
  <div class="col-md-4 text-right">
    <%= link_to 'New Post', new_post_path, class: "btn btn-dark new_post" %>
  </div>
</div>

<div class="row post">
  <div class="col-md-4">
    <strong>Name</strong>
  </div>
  <div class="col-md-7">
    <strong>Memo</strong>
  </div>
  <div class="col-md-1"></div>
</div>

<% @posts.each do |post| %>
  <div class="row post">
    <div class="col-md-4">
      <%= post.name %>
    </div>
    <div class="col-md-7">
        <%= link_to post.memo, post_path(post), class: "break" %>
    </div>
    <div class="col-md-1">
      <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span aria-hidden="true" class="text-danger">&times;</span>
      <% end %>
    </div>
  </div>
<% end %>


<div class="row" style="margin-top: 25px;">
  <div class="col-md-8">
    <%= will_paginate @posts %>
  </div>
  <div class="col-md-4 text-right">
    <%= link_to 'New Post', new_post_path, class: "btn btn-dark new_post" %>
  </div>
</div>
